n8n/JET-00-ORQUESTADOR-PARSE-PPTX.json
{
  "name": "JET-00-ORQUESTADOR-PARSE-PPTX",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subir-ppt",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://admin.jet-rentacar.com"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2400,
        528
      ],
      "id": "9186054e-a392-4b6e-9d81-642b359901f9",
      "name": "Webhook",
      "webhookId": "d7c0376e-1c70-4e4d-9392-4e0b281c5ff1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "slides",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -352,
        432
      ],
      "id": "61d4934c-3a26-4031-9741-164162bc4ce0",
      "name": "Separar por slides"
    },
    {
      "parameters": {
        "fieldToSplitOut": "imagenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -64,
        688
      ],
      "id": "9263ca6e-24c2-4b62-8c04-e7d827fa29fc",
      "name": "Separar por imagenes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://parseador-pptx.onrender.com/parse-pptx",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1568,
        544
      ],
      "id": "58b4622a-6430-4769-97b2-572f0037d452",
      "name": "Extraer informacion pptx",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        496
      ],
      "id": "15596fb7-7c0a-40b3-b8b1-4dab56b22688",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## INSERTAR DATOS EN LA BASE DE DATOS",
        "height": 240,
        "width": 1056
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        208
      ],
      "typeVersion": 1,
      "id": "5f97cd9b-9d1c-4f2a-a973-f2c7f01758bc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n    const nombre = item.json?.name || \"\";\n    const match = nombre.match(/slide_(\\d+)_/);\n    const slideId = match ? parseInt(match[1], 10) : null;\n\n    // Guardamos el id en json para que aparezca en el output\n    item.json.slideId = slideId;\n\n    // Propiedad binary solo con data y mimeType\n    item.binary = {\n        data: {\n            data: Buffer.from(item.json.data, 'base64'),\n            mimeType: item.json.mimeType,\n        }\n    };\n\n    return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        880
      ],
      "id": "cbc3625e-edb0-4641-b0ad-3a43b529a447",
      "name": "Pasar de data a binario1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        864
      ],
      "id": "33889a38-4461-4ce8-89d3-e22bd84bb718",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "## Extraccion etiqueta ",
        "height": 176,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        464
      ],
      "typeVersion": 1,
      "id": "c817b87d-1cc0-469d-828c-eea5b211a1d6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Extraccion tabla de precios",
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        656
      ],
      "typeVersion": 1,
      "id": "ffd90856-d06e-485f-9be3-7de33bd40b2c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Subir imagenes de coches a Hostinger",
        "height": 208,
        "width": 1888
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        832
      ],
      "typeVersion": 1,
      "id": "87ab7a38-ea59-442e-ba0b-cb4a38a264c4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        288
      ],
      "id": "e84a8a17-02ec-4f66-a3f2-dc03ed7d68b9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1152,
        496
      ],
      "id": "64f228fb-1228-4018-81de-63a75669c161",
      "name": "Aggregate1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1424,
        304
      ],
      "id": "19c3f3c1-6414-4293-831c-b14879325159",
      "name": "Merge2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "imagenes",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        880
      ],
      "id": "9889a585-7c83-423f-b22d-e8630e0e952b",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1920,
        544
      ],
      "id": "ef8ea5d9-3188-4eb1-99c0-37f5e1e5748a",
      "name": "Wait",
      "webhookId": "34d79162-968e-43b2-b342-5b6a9f165e38"
    },
    {
      "parameters": {
        "url": "https://parseador-pptx.onrender.com/ping",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1920,
        384
      ],
      "id": "0b28cdba-3f02-48bd-a6fd-1fb9d4c9715b",
      "name": "wake-up-server",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"text\": \"Recibido correctamente, puede tardar un tiempo en verse reflejado en la web\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1312,
        432
      ],
      "id": "e57ac4d2-461a-4393-9a15-fcb2eb418e2e",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1312,
        624
      ],
      "id": "fe42f4d5-2a6d-4c43-869c-2dd5d99968c5",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BCdtidG9t6S9ABHp",
          "mode": "list",
          "cachedResultUrl": "/workflow/BCdtidG9t6S9ABHp",
          "cachedResultName": "JET-03-EXTRAER-TARIFAS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        672
      ],
      "id": "771c939b-a9a7-4e9c-aff4-3bc32cab8a5d",
      "name": "Call 'JET-03-EXTRAER-TARIFAS'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tqkEuj9puNETssDk",
          "mode": "list",
          "cachedResultUrl": "/workflow/tqkEuj9puNETssDk",
          "cachedResultName": "JET-05-BBD"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1632,
        304
      ],
      "id": "c40f1033-9683-49a6-83ab-c3bc8153caab",
      "name": "Call 'JET-05-BBD'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ES5gLAWXFWv688Xy",
          "mode": "list",
          "cachedResultUrl": "/workflow/ES5gLAWXFWv688Xy",
          "cachedResultName": "JET-02-PARSEAR-ETIQUETA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        480
      ],
      "id": "f95a9a50-c01b-46ce-a8b9-5e0ab2e06c48",
      "name": "Call 'JET-02-PARSEAR-ETIQUETA'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HW0bCvoBvDyPLBDX",
          "mode": "list",
          "cachedResultUrl": "/workflow/HW0bCvoBvDyPLBDX",
          "cachedResultName": "JET-01-NORMALIZAR-CHATGPT-5-MINI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        288
      ],
      "id": "a9762776-1593-40b2-8c34-b5e5d09ec0b4",
      "name": "Call 'JET-01-NORMALIZAR-CHATGPT-5-MINI'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hv7pYe3ijRfFriCe",
          "mode": "list",
          "cachedResultUrl": "/workflow/hv7pYe3ijRfFriCe",
          "cachedResultName": "JET-04-SUBIR-IMAGENES"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1520,
        864
      ],
      "id": "cbdc5c1c-0b9b-445c-832e-1bae8e0cfdd9",
      "name": "Call 'JET-04-SUBIR-IMAGENES'"
    },
    {
      "parameters": {
        "content": "## NORMALIZAR TEXTOS",
        "height": 240,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        208
      ],
      "typeVersion": 1,
      "id": "519dc259-2929-4dfd-993d-04084a56343a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const batchSize = 5;\nconst items = $input.all().map(i => i.json);\n\nconst batches = [];\nfor (let i = 0; i < items.length; i += batchSize) {\n  batches.push({ batch: items.slice(i, i + batchSize) });\n}\n\nreturn batches.map(b => ({ json: b }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        288
      ],
      "id": "4301bcd7-2330-4271-975f-20e3c5e831f3",
      "name": "Separar en batch de 5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a842c45f-acc7-4beb-9fbb-46956551baf6",
              "leftValue": "={{ $json.categoria }}",
              "rightValue": "={{\"pegatina\"}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        496
      ],
      "id": "56a04508-3140-4054-a9a6-10ef80840887",
      "name": "If \"pegatina\""
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a842c45f-acc7-4beb-9fbb-46956551baf6",
              "leftValue": "={{ $json.categoria }}",
              "rightValue": "={{\"tabla\"}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        688
      ],
      "id": "2feb817c-7135-495c-9dcc-859a4856050e",
      "name": "If \"tarifa\""
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a842c45f-acc7-4beb-9fbb-46956551baf6",
              "leftValue": "={{ $json.categoria }}",
              "rightValue": "={{\"coche\"}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        896
      ],
      "id": "2532e9d5-c0ca-43cc-bd18-1613e43c836a",
      "name": "If \"coche\""
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    jobId: crypto.randomUUID()\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        432
      ],
      "id": "5c8d9533-0901-4267-b40b-74535f2077c4",
      "name": "Redis ID"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "wake-up-server",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar por slides": {
      "main": [
        [
          {
            "node": "Separar por imagenes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Separar en batch de 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar por imagenes": {
      "main": [
        [
          {
            "node": "If \"pegatina\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "If \"tarifa\"",
            "type": "main",
            "index": 0
          },
          {
            "node": "If \"coche\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer informacion pptx": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasar de data a binario1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Call 'JET-04-SUBIR-IMAGENES'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Call 'JET-05-BBD'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Extraer informacion pptx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "Redis ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'JET-03-EXTRAER-TARIFAS'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call 'JET-02-PARSEAR-ETIQUETA'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'JET-01-NORMALIZAR-CHATGPT-5-MINI'": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar en batch de 5": {
      "main": [
        [
          {
            "node": "Call 'JET-01-NORMALIZAR-CHATGPT-5-MINI'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If \"pegatina\"": {
      "main": [
        [
          {
            "node": "Call 'JET-02-PARSEAR-ETIQUETA'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If \"tarifa\"": {
      "main": [
        [
          {
            "node": "Call 'JET-03-EXTRAER-TARIFAS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If \"coche\"": {
      "main": [
        [
          {
            "node": "Pasar de data a binario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis ID": {
      "main": [
        [
          {
            "node": "Separar por slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "feea216d-5f5d-459d-8545-0a631cc1de9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6440d8e13742f6129338628c19743c2fcd12e9c909055be2efa73db26301753e"
  },
  "id": "54SoSsXYoYJJAjc4",
  "tags": []
}